<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Mapper Cache -->
        <setting name="cacheEnabled" value="true"/>

        <!--开启懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--关闭懒加载的对象可能被任何懒属性全部加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--消除equals，hashcode，toString等方法对懒加载的影响-->
        <setting name="lazyLoadTriggerMethods" value=""/>
    </settings>
    <typeAliases>
        <package name="com.example.demomybatis.entity"/>
    </typeAliases>
    <mappers>
        <mapper resource="sample/mybatis/mapper/TourMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/AssetTypeMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/UserDaoMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/ActualStopMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/AssetMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/CustomerMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/DriverMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/EventCodeMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/EventMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/LocationMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/NotificationMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/PlannedStopMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/ReservationMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/ResvItemMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/ResvTypeMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/TourItemMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/TourTypeMapper.xml"/>
        <mapper resource="sample/mybatis/mapper/TourDetailMapper.xml"/>
    </mappers>
</configuration>